# protocol repository
protocol

# build files
dist

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env

# IDE
.idea/
.vscode/

# Tests
.coverage
.pytest_cache
.tox
htmlcov
